@model TaxReportViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div>
    <h1 class="display-4">@Localizer["Title"]</h1>

    @if (Model.InterestsPerCoin.Any())
    {
        <p>@String.Format(Localizer["TaxNotes",Model.TaxYear])</p>
        <table class="table">
            <thead>
                <tr>
                    <td class="font-weight-bold">@Localizer["Coin"]</td>
                    <td class="text-right font-weight-bold">@Localizer["InterestsInUsd"]</td>
                    @if (Model.SelectedCurrency != Constants.UsdCurrency)
                    {
                        <td class="text-right font-weight-bold">@Localizer["InterestsInCurrency"] @Model.SelectedCurrency</td>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InterestsPerCoin.OrderBy(c => c.UsdValue))
                {
                    <tr>
                        <td class="text-left">@item.Coin</td>
                        <td class="text-right">@($"{item.UsdValue:N}")</td>
                        @if (Model.SelectedCurrency != Constants.UsdCurrency)
                        {
                            <td class="text-right">@($"{item.ValueInSelectedFiat:N}")</td>
                        }

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td class="text-right font-weight-bold">@($"{Constants.UsdCurrency} {Model.InterestsPerCoin.Sum(c=>c.UsdValue):N}")</td>
                    @if (Model.SelectedCurrency != Constants.UsdCurrency)
                    {
                        <td class="text-right font-weight-bold">@($"{Model.SelectedCurrency} {Model.InterestsPerCoin.Sum(c=>c.ValueInSelectedFiat):N}")</td>
                    }
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        @using (Html.BeginForm())
        {
            <div class="EnterDataFormContainer">
                <p class="alert alert-secondary">
                    @Localizer["Remarks"]
                </p>
                <div class="form-group">
                    <label for="taxYear">@Localizer["TaxYear"]</label>
                    <select id="taxYear" name="taxYear" class="form-control">
                        @{ var currentYear = DateTime.Now.Year; }
                        @for (int i = 3; i > 0; i--)
                        {
                            var selected = currentYear == DateTime.Now.Year - 1 ? "selected" : string.Empty;
                            @:<option @selected>@currentYear</option>

                            currentYear = currentYear - 1;
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="fiatCurrency">@Localizer["Currency"]</label>
                    <select id="fiatCurrency" name="fiatCurrency" class="form-control">

                        @foreach (var currency in Model.AvailableCurrencies)
                        {
                            var selected = currency == Model.SelectedCurrency ? "selected" : string.Empty;
                            @:<option @selected>@currency</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="apiKey">@Localizer["CelsiusApiKey"]</label><button type="button" class="btn btn-outline-secondary ml-2 pl-1 pr-1 p-0" data-toggle="modal" data-target="#helpApiKey">
                        ?
                    </button>
                    <input type="text" class="form-control" id="apiKey" name="apiKey" required aria-describedby="apiKeyHelp" placeholder="@Localizer["EnterApiKey"]" value="">
                    <small id="apiKeyHelp" class="form-text text-muted">@Localizer["KeyPrivacy"]</small>
                </div>
                @if (ViewBag.ExceptionOcurred != null)
                {
                    <p class="badge-danger p-3">@Localizer["UnexcpectedError"] <a href="https://t.me/fabu1" target="_blank">Fä bu</a></p>
                }
                <button type="submit" class="btn btn-primary">@Localizer["GenerateReport"]</button>
            </div>


            <div class="modal fade" id="helpApiKey" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Localizer["ApiHelpTitle"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>@Localizer["GotoProfile"]</p>
                            <img src="~/img/screen_profile.png" class="w-100" alt="Goto Api" />
                            <p>@Localizer["GenerateApiKey"]</p>
                            <img src="~/img/screen1api.png" class="w-100" alt="Generate API Key" />
                            <p>@Localizer["UseTheApiKey"]</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
